<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Input</title>
    <link rel="stylesheet" href="/static/input.css">
  </head>

  <body>
    <form action="/input" method="post">
      <fieldset>
        <legend>input</legend>
        <textarea name="message" rows="8" cols="80"></textarea>
        <button type="submit" name="button">전송</button>
      </fieldset>
    </form>

    {% for message in messages[::-1] %}
    <div class="messages">
      <textarea class="">
        {{ message }}
      </textarea>
      <button type="button" name="button">x</button>
    </div>
    <br>
    {% endfor %}

  </body>
</html>
